APP_ENV=dev
APP_DEBUG=true
APP_NAME=myapp
JWT_SECRET=changeme_generate_with_bin2hex_random_bytes_32

SERVER_NAME=:80
WORKER_NUM=4
FRANKENPHP_WATCH=watch

POSTGRES_HOST=write_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=myapp
DATABASE_URL=pgsql://postgres:secret@write_db:5432/myapp

MONGO_HOST=read_db
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=secret
MONGO_DB_NAME=myapp

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BROKERS=kafka:9092
MESSENGER_TRANSPORT_DSN=kafka://kafka:9092
